<img class="feed-block-comment-image" src="{{ url_for('static', filename='img/default.png') }}" style="float: left;">
<div class="comment-main">
    <div class="comment-header">
        {{ comment["name"] }}
    </div>
    <div class="comment-body">
        {{ comment["body"] }}
    </div>
    <div class="comment-footer">
        <div class="likes fl_l">
            <i style="color: black;" id="UpCommentArrow{{ comment['id'] }}" class="fas fa-angle-double-up" onclick="return upArrowCommentClicked({{ comment['id'] }}, {{ user_id }}, '1')"></i>
            <div class="fl_r">{{ comment["likes_amount"] }}</div>
        </div>
        <div class="dislikes fl_l">
            <i style="color: black;" id="DownCommentArrow{{ comment['id'] }}" class="fas fa-angle-double-down" onclick="return downArrowCommentClicked({{ comment['id'] }}, {{ user_id }}, '2')"></i>
            <div class="fl_r">{{ comment["dislikes_amount"] }}</div>
        </div>
    </div>
</div>